h2 = t('.question', body: @answer.question.body)
h3 = t('.answer', body: @answer.body)
h3 = t('.correct', correct: @answer.correct)

p
  = link_to t('navigating.back'), admin_question_path(@answer.question)
