// Place all the styles related to the UserPassedTests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.result {
  font-size: 16pt;
  &.passed {
    color: green;
  }
  &.failed {
    color: red;
  }
}
