h1 Category: #{@test.category.title}

h2 #{@test.title}
h2 Level: #{@test.level}
h2 Author: #{@test.author.email}

= render 'questions/list', resource: @test

a< href=(tests_path) Back
a< href=(new_test_question_path @test) Add question
a< href=(edit_test_path @test) Edit test
